In [11]:
# Fill in student ID and name
# 
student_id = "s223149341"
student_first_last_name = "Van Nam Quang Nguyen"
print(student_id, student_first_last_name)

s223149341 Van Nam Quang Nguyen

In [12]:
"""
	Firebase Realtime database demonstration.
    
    @Ahsan Habib
    School of IT,
    Deakin University, Australia.
"""

# Install libraris, if not yet.
#! pip install firebase_admin pandas

import firebase_admin

databaseURL = 'https://sit225-2024-default-rtdb.asia-southeast1.firebasedatabase.app/'
cred_obj = firebase_admin.credentials.Certificate(
    'sit225-2024-firebase-adminsdk-8yopu-1f7163bd72.json'
)
default_app = firebase_admin.initialize_app(cred_obj, {
	'databaseURL':databaseURL
	})

ValueError: The default Firebase app already exists. This means you called initialize_app() more than once without providing an app name as the second argument. In most cases you only need to call initialize_app() once. But if you do want to initialize multiple apps, pass a second argument to initialize_app() to give each app a unique name.

In [22]:
from firebase_admin import db

# A reference point is always needed to be set
# before any operation is carried out on a database.
# 
ref = db.reference("/")

# JSON format data (key/value pair)
data = {  # Outer {} contains inner data structure
	"Book1":
	{
		"Title": "The Fellowship of the Ring",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100
	},
	"Book2":
	{
		"Title": "The Two Towers",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100	
	},
	"Book3":
	{
		"Title": "The Return of the King",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100
	},
	"Book4":
	{
		"Title": "Brida",
		"Author": "Paulo Coelho",
		"Genre": "Fiction",
		"Price": 100
	}
}

# JSON format data is set (overwritten) to the reference 
# point set at /, which is the root node.
# 
ref.set(data)

In [23]:
ref = db.reference("/")  # set ref point

# query all data under the ref
books = ref.get()  
print(books)
print(type(books))

# print each item separately
for key, value in books.items():
    print(f"{key}: {value}")


# Query /Book1
ref = db.reference("/Book1")
books = ref.get()
print(books)

{'Book1': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}, 'Book2': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Two Towers'}, 'Book3': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Return of the King'}, 'Book4': {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}}
<class 'dict'>
Book1: {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}
Book2: {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Two Towers'}
Book3: {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Return of the King'}
Book4: {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}
{'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}

In [24]:
# Write using push() function
# Note that a set() is called on top of push()
# 
ref = db.reference("/")
ref.set({
	"Books":
	{
		"Best_Sellers": -1
	}
})

ref = db.reference("/Books/Best_Sellers")

for key, value in data.items():
	ref.push().set(value)

In [16]:
# Update data
# 
# Requirement: The price of the books by 
# J. R. R. Tolkien is reduced to 80 units to 
# offer a discount.
# 
ref = db.reference("/Books/Best_Sellers/")
best_sellers = ref.get()
print(best_sellers)
for key, value in best_sellers.items():
	if(value["Author"] == "J.R.R. Tolkien"):
		value["Price"] = 90
		ref.child(key).update({"Price":80})

{'-O3bWkcBZVQxejYsA48P': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}, '-O3bWkkYvJe56RNYd71D': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Two Towers'}, '-O3bWkpNVWRX8rW-yarV': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Return of the King'}, '-O3bWkujpH8a__sRo_sz': {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}}

In [17]:
# Let's delete all best seller books 
# with J.R.R. Tolkien as the author.
# 
ref = db.reference("/Books/Best_Sellers")

for key, value in best_sellers.items():
	if(value["Author"] == "J.R.R. Tolkien"):
		ref.child(key).set({})

In [18]:
# Delete all best_seller data.
# 
ref = db.reference("/Books/Best_Sellers/")
best_sellers = ref.get()
print(best_sellers)
print(type(best_sellers))

{'-O3bWkujpH8a__sRo_sz': {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}}
<class 'dict'>

In [25]:
ref = db.reference("/Books/Best_Sellers")
ref.set({})

In [31]:
ref = db.reference("/")

sensor_data = {
    "DHT22": [ {
            "timestamp": "2024-08-06T12:00:00Z",
            "temperature": 25.6,
            "humidity": 60.2
        },
        {
            "timestamp": "2024-08-06T12:10:00Z",
            "temperature": 25.8,
            "humidity": 59.8
        }
    ]
}
ref.set(sensor_data)
ref = db.reference("/DHT22/")
before = ref.get()
print(before)
ref.push().set(
    {
             "timestamp": "2024-08-06T12:10:00Z",
            "temperature": 25.8,
            "humidity": 59.8  
    }
)
after = ref.get()
for key, value in after.items():
    print(f"{key}: {value}")

[{'humidity': 60.2, 'temperature': 25.6, 'timestamp': '2024-08-06T12:00:00Z'}, {'humidity': 59.8, 'temperature': 25.8, 'timestamp': '2024-08-06T12:10:00Z'}]
{'0': {'humidity': 60.2, 'temperature': 25.6, 'timestamp': '2024-08-06T12:00:00Z'}, '1': {'humidity': 59.8, 'temperature': 25.8, 'timestamp': '2024-08-06T12:10:00Z'}, '-O3bbkNIjHYYuJe8VWJ9': {'humidity': 59.8, 'temperature': 25.8, 'timestamp': '2024-08-06T12:10:00Z'}}

In [33]:
ref = db.reference("/")

sensor_data = {
    "HCSR04": [ {
            "timestamp": "2024-08-06T12:00:00Z",
            "duration": 450,
            "distance": 25
        },
        {
            "timestamp": "2024-08-06T12:10:00Z",
            "duration": 600,
            "distance": 40
        }
    ]
}
ref.set(sensor_data)
ref = db.reference("/HCSR04/")
before = ref.get()
print(before)
ref.push().set(
    {
        "timestamp": "2024-08-06T12:10:00Z",
        "duration": 500,
        "distance": 30
    }
)
after = ref.get()
for key, value in after.items():
    print(f"{key}: {value}")

[{'distance': 25, 'duration': 450, 'timestamp': '2024-08-06T12:00:00Z'}, {'distance': 40, 'duration': 600, 'timestamp': '2024-08-06T12:10:00Z'}]
0: {'distance': 25, 'duration': 450, 'timestamp': '2024-08-06T12:00:00Z'}
1: {'distance': 40, 'duration': 600, 'timestamp': '2024-08-06T12:10:00Z'}
-O3bcPZcUb8xtxX_UUO8: {'distance': 30, 'duration': 500, 'timestamp': '2024-08-06T12:10:00Z'}